html, body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 15px;
}

body {
  background-color: paleturquoise;
}

h1, h2, h3, h5, p {
  margin: 0.5em auto;
}

.main-cont {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2455bd;
  color: #fff;
  box-shadow: 0 0 25px #000;
}

.main-cont a {
  color: #fff;
}

.header {
  border: 2px solid #fff;
  padding: 10px;
}

#categories {
  padding-left: 700px;

}

#categories ul {
  border: 1px solid #fff;
  padding: 6px;
}

#categories ul li {
  float: left;
  display: block;
  margin: 0 8px 0 0;
  padding: 6px;
  border: 1px solid #fff;
}

#categories ul li:hover {
  background-color: paleturquoise;
  color: #000;
}

.celebrity {
  border: 1px solid #fff;
  background-color: blanchedalmond;
  color: #000;
  list-style-type: none;
  margin: 10px 0;
}

.celebrity img {
  margin: 0 10px;
  cursor: pointer;
}

.progressbar {
  position: relative;
  border: 2px solid #fff;
  height: 30px;
  background-color: blue;
}

.progressbar .progress {
  position: absolute;
  height: 100%;
  background-color: red;
  width: 0;
}

.progressbar .progress:hover {
  width: 50%;
}

.highlighted {
  background-color: chocolate;
}

.small-img {
  max-width: 120px;
  max-height: 120px;
}

.large-img {
  max-width: 300px;
  max-height: 300px;
}

.clear:before,
.clear:after {
  content: "";
  display: table;
}

.clear:after {
  clear: both;
}

.box {
  display: none;
  height: 400px;
  position: relative;
  border: 2px solid #000;
  cursor: crosshair;
}

.box .square {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: red;
}
