<div class="header">
  <h2>Welcome to Kundelek service!</h2>
  <p>
    You can receive access to news about your favourite celebrities for only
    <span>$9.99</span> per month!
  </p>
</div>
<div id="categories">
  <h5>Categories</h5>
  <ul>
    <li>Music</li>
    <li>Movies</li>
    <li>Sport</li>
  </ul>
</div>
<div id="tours">
  <h1>Guided Tours</h1>
  <ul>
    <li class="usa tour">
      <h2>New York, New York</h2>
      <span class="details">$1,899 for 7 nights</span>
      <button class="book">Book Now</button>
    </li>
  </ul>
</div>
